<div class="d-flex flex-column w-100 mt-3">
    <div class="d-flex flex-column w-100 justify-content-center">
        <h3 class="text-center">Crear Modulo</h3>
        <hr>
    </div>
    <div class="d-flex w-100">
        <form [formGroup]="formModule">
            <div class="d-flex flex-wrap w-100 justify-content-center">
                <input type="text" class="form-control w-25 me-3 mb-3" placeholder="Titulo" formControlName="titulo">
                <input type="number" class="form-control w-25 me-3 mb-3" placeholder="Duracion" formControlName="duracion">
                <input type="text" class="form-control w-25 me-3 mb-3" placeholder="Material" formControlName="material">
                <input type="file" class="form-control w-50" placeholder="Video" accept=".mp4,.mpg,.wmv" 
                    formControlName="video">
                <div class="d-flex w-100 justify-content-center mt-3">
                    <!-- <div class="d-flex justify-content-center w-50">
                        <app-img-load [eventImg]="eventFile()" [isShow]="formPaquete.get('imagen')?.value"/>
                    </div> -->
                </div>
                <button class="btn btn-success w-75 mt-3" *ngIf="isCreate(); else edit">Crear</button>
                <ng-template #edit>
                    <button class="btn btn-primary w-75 mt-3" (click)="updateModulo()">Editar</button>
                </ng-template>
            </div>
        </form>
    </div>
    <!-- <pre>
        {{formModule.get('imagen')?.value }}
    </pre> -->
    <div class="d-flex w-100 justify-content-center mt-3">
        <h3>Listado de Paquetes</h3>
    </div>
    <div class="d-flex w-100">
        <app-table  class="w-100" [keys]="keysModule" [listArray]="listModulos" (objectEdit)="editModulo($event)"/>
    </div>
</div>