<div class="d-flex flex-column justify-content-center align-items-center w-100">
    <div class="text-bg-dark text-center rounded w-75">
        <h3 class="">Bienvenidos!</h3>
    </div>
    <div class="w-75 mt-3">
        <hr>
        <h5>Mis Cursos</h5>
        <div class="d-flex flex-wrap justify-content-between w-100">
            <div style="width: 40%;" *ngFor="let curso of cursos">
                <app-card [curso]="curso" [isRegistered]=true/>
            </div>    
            <!-- <div class="card" style="width: 40%;">
                <img src="./square.svg" alt="imgCourse" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">Node JS</h5>
                    <p class="card-text lh-sm">
                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                    </p>
                    <button class="btn btn-success">Ir <i class="ms-2 bi bi-arrow-right"></i></button>
                </div>
            </div>
            <div class="card" style="width: 40%;">
                <img src="./square.svg" alt="imgCourse" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">AWS</h5>
                    <p class="card-text lh-sm">
                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                    </p>
                    <button class="btn btn-success">Ir <i class="ms-2 bi bi-arrow-right"></i></button>
                </div>
            </div> -->
        </div>
    </div>
</div>